*
{
  margin: 0;
  padding: 0;
}

#page_1{
  height: 100%;
  width: 70%;
  background-color: red;
  margin-left: 130px;
margin-bottom: 900px;



/* background-color: blue; */
 /* background-image:  url(img/resume_1.jpg); */

 display: block; */
  margin-left: auto;
 margin-right: auto;
}


#page_2{
  height: 100%;
  width: 70%;
  background-color: red;
  margin-left: 130px;
  margin-bottom: 300px;




/* background-color: blue; */
 /* background-image:  url(img/resume_1.jpg); */
margin-bottom: 900px;
 display: block; */
  margin-left: auto;
 margin-right: auto;
}


#page_3{
  height: 100%;
  width: 70%;
  background-color: red;
  margin-left: 130px;


margin-bottom: 900px;

/* background-color: blue; */
 /* background-image:  url(img/resume_1.jpg); */

 display: block; */
  margin-left: auto;
 margin-right: auto;
}


#page_4{
  height: 100%;
  width: 70%;
  background-color: red;
  margin-left: 130px;


margin-bottom: 900px;

/* background-color: blue; */
 /* background-image:  url(img/resume_1.jpg); */

 display: block; */
  margin-left: auto;
 margin-right: auto;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;

}
