*
{
  margin: 0;
  padding: 0;
}

header
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url(img/snow.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

}







.logo img
{
  width: 150px;
  height: auto;
  float: left;
}

body
{
  font-family: monospace;
}



.hero{
  position: inherit;
  width: 1500px;
  margin-left: 0px;

  padding-top: 60px;
}

.hero h1{
  color: white;
  /* text-transform: uppercase; */
  font-size: 60px;
  text-align: center;
  /* margin-top: 275px; */

  padding-top: 220;
}

.button
{
  margin-top: 30px;
  margin-left: 440px;

  position: sticky;
}

.btn{
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
  position: sticky;

}

.btn-one{
  background-color: darkorange;
  font-family: "Roboto", sans-serif;
  position: sticky;
}
.btn-two{
  font-family: "Roboto", sans-serif;
  position: sticky;
}

.btn-two:hover{
background-color: darkorange;
transition: all 0.5s ease-in;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
   overflow-y: auto;
  overflow-x: hidden; 

}

#page_2{

  height: 540px;
  background-color: rgb(62,69,74);
  padding-top: 50px;
  }

  #page_2 img{
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
  width: 18%;
  /* width: 16%; */
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top:50px;

  }
#page_2 h2{
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
}
#page_2 p{
  color: white;
  font-family: "sans-serif";
  font-size: 17px;
  text-align: center;
}

.aboutme{
 padding-left: 100px;
 padding-right: 100px;
}

#hello img{
  width: 15%;

  display: block;
  margin-left: auto;
  margin-right: auto;
padding-top: 14px;
padding-bottom: 40px;
border-radius: 0%;
}

#page_3{

  height: 3000px;
  /* background-color: rgb(34,46,100); */
  background-color: rgb(255,250,250);

    /* background-color: rgb(250, 250, 250); */
  padding-top: 50px;
  background-color: rgb(206,206,206);
  background-color: white;

  }

  #page_3 h1{
    font-weight: lighter;
    color: black;
    /* text-transform: uppercase; */
    font-size: 35px;
    text-align: center;
    /* margin-top: 275px; */


    padding-top: 70px;
    padding-bottom: : 120px;
  }

#box{
  /* background-color: white; */
  /* background-color: rgb(255, 255, 255); */

  background-color: rgb(206, 222, 229);
  /* background-image:  url(img/image_2.jpg);
  background-size: cover; */


  width: 300px;
  height: 250px;
  margin-left: 18%;
  margin-top: 50px;
  border-radius: 15%;
  /* margin-bottom: 50px; */

  float: left;


  /* background-color: black;
  border-style: dashed;
  border-color: black;
    border-width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 50px;

  width: 20%;
  height: 20%;
  float: left; */

}

#box img{
  /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden */

    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 15%;
}

#text{



  width: 540px;
  height: 300px;
  margin-left: 43%;
  margin-top: 100px;

  /* background-color: red; */


}

#text h1{

  font-size: 25px;
  color: blue;

padding-top: 0px;

  text-align: left;

font-family: "Georgia", sans-serif;

  /* font-family: "Roboto", sans-serif; */


}

#text h2{
  font-size: 15px;
  color: green;

padding-top: 10px;

  text-align: left;

  font-family: "Roboto", sans-serif;


}

#text h3{
  font-size: 15px;
  color: black;

padding-top: 10px;

  text-align: left;

  font-family: "Roboto", sans-serif;




}

#text h4{
  font-size: 10px;
  color: black;

padding-top: 10px;

  text-align: left;

  font-family: "Roboto", sans-serif;


  color: black;
  font-family: "sans-serif";
  font-size: 14px;
  text-align: left;
  font-weight: lighter;
  padding-top: 40px;

}


#box h2{
  /* background-color: rgb(206, 222, 229); */
  text-align: left;
  padding-left: 100px;
  padding-top: 140px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;


}

#box:hover{
background-color: darkorange;
transition: all 0.5s ease-in;
}
/* #box h2:hover{
background-color: darkorange;
transition: all 0.5s ease-in;
} */



.boxtext{
  background-color: rgb(206, 222, 229);
  text-align: left;
  padding-left: 100px;
  padding-top: 140px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

#box h3{
  text-align: left;
  /* padding-left: 100px;
  padding-top: 150px; */
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Roboto", "sans-serif";
  font-size: 20px;
  /* color: white; */
}

#box img{
  height: 30%;
  width: 30%;
  float: right;

  /* margin-bottom: 50px; */
}

#page_4{
height: 1100px;
background-color: rgb(240,240,240);

}

#page_4 h1{
  color: black;
  /* text-transform: uppercase; */
  font-size: 35px;
  text-align: center;
  /* margin-top: 275px; */
font-weight: lighter;

  padding-top: 70px;
  padding-bottom: : 120px;
}

#page_4 h2{
  font-size: 20px;
  color: grey;

padding-top: 50px;
margin-left: 10%;
margin-right: 10%;

  text-align: center;

  font-family: "Roboto", sans-serif;


}


#selfies{
  /* background-color: white; */
  /* background-color: rgb(255, 255, 255); */

  background-color: rgb(206, 222, 229);
  /* background-image:  url(img/image_2.jpg);
  background-size: cover; */


  width: 450px;
  height: 310px;
  margin-left: 13%;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 15%;


  /* margin-bottom: 50px; */

  float: left;



}

#selfies img{


    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 0%;

    height: 30%;
    width: 30%;
    float: right;
}

#page_5{
height: 750px;
 background-image:  url(img/water.jpg);
 background-size: cover;


}

#page_5 h1{
  color: white;
  /* text-transform: uppercase; */
  font-size: 45px;
  text-align: center;
  letter-spacing: 7px;
  /* margin-top: 275px; */


  padding-top: 70px;
  padding-bottom: : 120px;
}

#page_5 h2{
  font-size: 25px;
  color: white;

padding-top: 50px;
margin-left: 10%;
margin-right: 10%;

  text-align: center;

  font-family: "Impact", sans-serif;


}




#hire{
/* width: 400px;
height: 100px; */
width: 50%;
height: 30%
color: black;
text-transform: uppercase;
font-size: 60px;
text-align: center;
  float: left;
  /* background-color: red; */


  /* background-image:  url(img/hire.png); */
  /* margin-left: 200px; */
  padding-top: 60px;

}
#hire img{
  width: 50%;
}

#hireme{
  color: black;
  font-family: "Roboto";
  font-size: 25px;
  text-align: center;
  float: left;
  width: 50%;
  padding-left: 90px;
  padding-top: 30px;
  /* background-color: red; */
  /* padding-top: 500px */

}

#page_6{
  height: 500px;
      /* background-color: rgb(52,82,49); */
      background-color: rgb(240,240,240);
  padding-top: 50px;
  }



  #page_6 h1{
    color: black;
    /* text-transform: uppercase; */
    font-size: 45px;
    text-align: center;

    /* margin-top: 275px; */


    padding-top: 70px;
    padding-bottom: : 120px;
    font-weight: lighter;
  }

  #page_6 h2{
    font-size: 20px;
    color: grey;

  padding-top: 50px;
  margin-left: 10%;
  margin-right: 10%;

    text-align: center;

    font-family: "Roboto", sans-serif;


  }

  #socials{
    /* background-color: white; */
    /* background-color: rgb(255, 255, 255); */

    background-color: rgb(206, 222, 229);
    /* background-image:  url(img/image_2.jpg);
    background-size: cover; */


    width: 200px;
    height: 170px;
    margin-left: 25%;
    margin-top: 50px;
    border-radius: 15%;


    float: left;



  }

  #socials img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 15%;

    height: 10%;
    width: 10%;
    float: right;
  }




#nav ul{

  margin: 0;
  padding-right: 42px;
margin-left: 910px;
}

#nav ul li{
  display: inline-block;
  padding: 16px 32px;

}

#nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

#nav.black{
  background: darkorange;
  transition: 1s;


}

#nav {
  height: 70px;
  background: transparent; // Transparent initial setting
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;

  position: fixed;
  width: 100%;
  line-height: 5px;

}

#logo {
  color: red;
  padding: 20px;
  font-size: 18px;
  transition: all ease .5s;
  float: left;
}

#hero1 {
  height: 500px;
  width: 100%;
  background: url('http://community.lovenature.com/wp-content/uploads/sites/4/2016/08/jimi-hendrix.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

#nav.shrink {
  height: 40px;
  transition: all ease .5s;
  background: black; // Change background to black on scroll
}

#nav.shrink #logo {
  padding: 10px;
  transition: all ease .5s;
}
